/* body {
  background-image: url("../../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
} */

.error {
  color: red;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.signUp {
  background-image: url("../../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 13%;
  width: 50%;
  padding: 12%;
}
